.page-body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
}

.skip-link:focus-visible {
  position: absolute;
  top: 1rem;
  left: 5rem;
  background-color: #fac899;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  z-index: 1000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.25rem;
  outline: 0.25rem solid #3C00BD;
  outline-offset: 0;
}




