.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 12px;
    background-color: var(--text-color);
    color: white;
    border: 0.125rem solid;
    border-radius: 1rem;
    border-color: #1a222c;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, background-color 0.3s, color 0.3s;
    z-index: 500;
    font-weight: 500;

    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.back-to-top .material-symbols-outlined {
    font-size: 24px;
}

.back-to-top:hover,
.back-to-top:focus {
    background-color: #263826FF;
    color: white;
    outline: none;
}
