<mat-spinner *ngIf="loading"></mat-spinner>
<div class="projects-wrapper">
    <div class="add-project" (click)="handleOpenAddNewQuestionnaire()" [class.toggled]="isToggled">
        <div class="add-project-header" (click)="handleCloseAddNewQuestionnaire($event)">
            <h2>{{'addProject.title' | translate}}</h2>
            <div class="button-icon-container">
                <span *ngIf="!isToggled" class="material-symbols-outlined icon">expand_more</span>
                <span *ngIf="isToggled" class="material-symbols-outlined icon">expand_less</span>
            </div>
        </div>
        <div *ngIf=isToggled class="add-project-row">
            <div class="add-project-input">
                <h3>{{ 'addProject.input' | translate }}</h3>
                <input placeholder="{{'addProject.placeholder' | translate}}" id="questionnaireName" type="text"
                       [(ngModel)]="questionnaireName"/>
            </div>
            <div class="add-project-buttons">
                <button (click)="toggleAddNewQuestionnaire()"
                        class="button cancel-button">{{ 'button.cancel' | translate }}
                </button>
                <button [disabled]="questionnaireName.length <= 0" (click)="addNewQuestionnaire(questionnaireName)"
                        formtarget="_blank" class="button add-button">{{ 'button.add' | translate }}
                </button>
            </div>
        </div>
        <div *ngIf="isToggled" class="add-project-row import-row">
            <div class="import-project-button">
                <button (click)="importProject()" class="button blue upload-button">
                    <span class="material-symbols-outlined icon">upload</span>
                    {{ 'button.import' | translate }}
                </button>
            </div>
        </div>
    </div>
    <div class="projects-table">
        <table *ngIf="!loading && questionnaires.length > 0">
            <thead>
            <tr>
                <th class="projects-table-head">
                    <h2>{{ 'projectsTable.title' | translate }}</h2>
                    <div class="header-alignment-container">
                        <div class="invisible-project-name-spacer"></div>
                        <div class="invisible-button-spacer"></div>
                        <div (click)="toggleSortOrder()" class="sort-button">
                            {{ 'projectsTable.sortByLastModified' | translate }} {{ isNewestFirst ? '↓' : '↑' }}
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let questionnaire of getPaginatedQuestionnaires()" class="projects-table-row">
                <td class="project-cell">
                    <span
                            [matTooltip]="questionnaire.name.length > 25 ? questionnaire.name : ''"
                            matTooltipPosition="above"
                            [matTooltipDisabled]="questionnaire.name.length <= 25"
                            class="project-name">
                    {{ questionnaire.name | truncate:25 }}
                    </span>
                    <a [routerLink]="validationPath" [queryParams]="{questionnaireId: questionnaire.id}"
                       class="see-more-button">{{ 'projectsTable.seeMore' | translate }}</a>
                    <p>{{ questionnaire.lastModified | date: 'dd.MM.yyyy HH:mm' : 'et-EE' }}</p>
                </td>
                <td class="action-button-cell">
                    <div class="right-side-container">
                        <span class="project-date">{{ getTimeAgo(questionnaire.lastModified) }}</span>
                        <div class="invisible-spacer"></div>
                        <app-menu [toggle]="'Menu'" [icon]="menuIcon" [actions]="getActions(questionnaire)"></app-menu>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination-controls" *ngIf="showPagination()">
            <button
                    (click)="prevPage()"
                    [disabled]="currentPage === 1"
                    class="button pagination-button"
                    [attr.aria-label]="'paginationButton.previous' | translate">
                <
            </button>

            <div class="page-numbers">
                <ng-container *ngFor="let page of getPageNumbers()">
                    <button
                            *ngIf="!page.isEllipsis"
                            class="button page-number-button"
                            [class.active]="page.value === currentPage"
                            (click)="goToPage(page.value)"
                            [attr.aria-current]="page.value === currentPage ? 'page' : null"
                            [attr.aria-label]="('pagination.page' | translate) + ' ' + page.value">
                        {{ page.value }}
                    </button>
                    <span *ngIf="page.isEllipsis"
                          class="ellipsis"
                          aria-hidden="true">
                            {{ page.value }}
                    </span>
                </ng-container>
            </div>
            <button
                    (click)="nextPage()"
                    [disabled]="currentPage === totalPages"
                    class="button pagination-button"
                    [attr.aria-label]="'paginationButton.next' | translate">
            </button>
            <span class="pagination-text">
        {{ 'pagination.page' | translate }} {{ currentPage }} {{ 'pagination.of' | translate }} {{ totalPages }}
    </span>
        </div>
    </div>
</div>