.project-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.project-name {
  font-weight: 500;
}

.project-last-modified {
  font-size: 0.85rem;
  color: var(--text-color);
  opacity: 0.8;
}

/* Rest of the existing CSS */
.projects-wrapper {
  margin-top: 5rem;
  height: fit-content;
  width: fit-content;
  padding: 2rem;
  background-color: var(--container);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-project {
  display: flex;
  flex-direction: column;
  background-color: var(--beige);
  width: 62.5rem;
  padding: 1rem;
  border: solid;
  border-color: var(--text-color);
  border-width: 0.125rem;
  border-radius: 0.625rem;
  gap: 1rem;
}

.add-project-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.import-row {
  display: flex;
  justify-content: flex-start;
}

.add-project-input {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  gap: 0.5rem;
}

.add-project-buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-end;
  width: 100%;
  gap: 1rem;
  flex-grow: 1;
}

.import-project-button {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex-grow: 2;
  gap: 1rem;
}

table {
  border-radius: 0.625rem;
  background-color: var(--beige);
}

.projects-table {
  max-width: 100%;
  border-radius: 0.625rem;
  border-color: var(--text-color);
  border: solid;
  border-width: 0.125rem;
  margin-top: 5rem;
}

.projects-table-row {
  display: flex;
  flex-direction: row;
}

.projects-table-head {
  padding: 2rem;
  justify-content: left;
  align-items: center;
}

.project-cell {
  padding: 2rem;
  width: 31.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.action-button-cell {
  padding: 2rem;
  width: 31.25rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

.see-more-button {
  background-color: var(--light-green);
  text-decoration: none;
  border: solid;
  border-width: 0.125rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: var(--text);
  border-color: var(--dark-green);
}

.see-more-button:hover {
  background-color: var(--green);
}

.upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* space between icon and text */
}

.upload-button .icon {
  font-size: 20px; /* or any size you prefer */
  vertical-align: middle;
}
