<mat-spinner *ngIf="loading" role="status" aria-live="polite" [attr.aria-label]="'loading.spinner' | translate"></mat-spinner>
<div *ngIf="!loading" class="page-body" [ngClass]="{'compressed-page-body': !showProjectsWrapper}">
    <button id="skip-to-table-link" class="skip-link" href="#validation-table" (click)="focusValidationTable($event)">
        {{ 'skipButton.skipToTable' | translate }} </button>
    <div class="modals" [ngClass]="{ 'content-hidden': !showProjectsWrapper }">
      <div class="wrapper1">
      <div class="toggle-wrapper">
          <button
             (click)="toggleProjectsWrapper()"
             class="toggle-button"
             [attr.aria-label]="'hidePanels.ariaLabel' | translate"
             tabindex="0">
              <span>
                  {{ showProjectsWrapper ? ('hidePanels.hide' | translate) : ('hidePanels.unhide' | translate) }}
              </span>
              <mat-icon class="toggle-icon">
                  {{ showProjectsWrapper ? 'visibility_off' : 'visibility' }}
              </mat-icon>
          </button>
      </div>
      <div class="wrapper2">
      <div *ngIf="showProjectsWrapper" class="projects-wrapper">
      <div class="add-project" (click)="handleOpenAddNewGroup()" [class.toggled]="isToggledGroupAdding"
           (keydown.enter)="handleOpenAddNewGroup()"
           (keydown.space)="handleOpenAddNewGroup()"
           tabindex="0" role="button" [attr.aria-expanded]="isToggledGroupAdding">
          <div class="add-project-header" (click)="handleCloseAddNewGroup($event)"
               (keydown.enter)="handleCloseAddNewGroup($event)"
               (keydown.space)="handleCloseAddNewGroup($event)"
               tabindex="0" role="button"
               [attr.aria-expanded]="isToggledGroupAdding">
              <h2>{{'addGroup.title' | translate}}</h2>
              <div class="button-icon-container">
                  <span *ngIf="!isToggledGroupAdding" class="material-symbols-outlined icon">expand_more</span>
                  <span *ngIf="isToggledGroupAdding" class="material-symbols-outlined icon">expand_less</span>
              </div>
          </div>
          <div *ngIf=isToggledGroupAdding class="add-project-row">
            <div class="add-project-input">
              <div>
                <div class="add-project-header">
                  <h3>{{'addGroup.list' | translate}}</h3>
                  <button (click)="toggleGroupList()" class="button-icon">
                    <span *ngIf=!isToggledGroupList class="material-symbols-outlined icon">expand_more</span>
                    <span *ngIf=isToggledGroupList class="material-symbols-outlined icon">expand_less</span>
                  </button>
                </div>
                <div *ngIf=isToggledGroupList class="stakeholders-list">
                  <app-stakeholder *ngFor="let featureGroup of featureGroups; index as i" [stakeholder]="featureGroup.name" [editAction]="getFeatureGroupEditAction(featureGroup)" [deleteAction]="getFeatureGroupDeleteAction(featureGroup)" [color]="getStakeholderColorClass(i)"></app-stakeholder>
                </div>
              </div>
              <h3>{{'addGroup.input' | translate}}</h3>
              <input type="text" placeholder="{{'addGroup.placeholder' | translate}}" id="featureGroupName" type="text" [(ngModel)]="featureGroupName"/>
            </div>
            <div class="add-project-buttons">
              <button (click)="toggleAddNewGroup()" class="button cancel-button">{{'button.cancel' | translate}}</button>
              <button  (click)="createNewFeatureGroup(featureGroupName)" formtarget="_blank" class="button add-button">{{'button.add' | translate}}</button>
            </div>
        </div>
      </div>
    </div>
    <div *ngIf="showProjectsWrapper" class="projects-wrapper">
      <div class="add-project" (click)="handleOpenAddNewStakeholder()" [class.toggled]="isToggledStakeholderAdding"
           (keydown.enter)="handleOpenAddNewStakeholder()"
           (keydown.space)="handleOpenAddNewStakeholder()"
           tabindex="0" role="button"
           [attr.aria-expanded]="isToggledStakeholderAdding">
          <div class="add-project-header" (click)="handleCloseAddNewStakeholder($event)"
               (keydown.enter)="handleCloseAddNewStakeholder($event)"
               (keydown.space)="handleCloseAddNewStakeholder($event)"
               tabindex="0" role="button"
               [attr.aria-expanded]="isToggledStakeholderAdding">
              <h2>{{'addStakeholder.title' | translate}}</h2>
              <div class="button-icon-container">
                  <span *ngIf="!isToggledStakeholderAdding" class="material-symbols-outlined icon">expand_more</span>
                  <span *ngIf="isToggledStakeholderAdding" class="material-symbols-outlined icon">expand_less</span>
              </div>
          </div>
          <div *ngIf=isToggledStakeholderAdding class="add-project-row">
            <div class="add-project-input">
              <div>
                <div class="add-project-header">
                  <h3>{{'addStakeholder.list' | translate}}</h3>
                  <button (click)="toggleStakeholderList()" class="button-icon">
                    <span *ngIf=!isToggledStakeholderList class="material-symbols-outlined icon">expand_more</span>
                    <span *ngIf=isToggledStakeholderList class="material-symbols-outlined icon">expand_less</span>
                  </button>
                </div>
                <div *ngIf=isToggledStakeholderList class="stakeholders-list">
                  <app-stakeholder *ngFor="let stakeholder of stakeholders; index as i" [stakeholder]="stakeholder.name" [editAction]="getStakeholderEditAction(stakeholder)" [deleteAction]="getStakeholderDeleteAction(stakeholder)" [color]="getStakeholderColorClass(i)"></app-stakeholder>
                </div>
              </div>
              <h3>{{'addStakeholder.input' | translate}}</h3>
              <input type="text" placeholder="{{'addStakeholder.placeholder' | translate}}" id="questionnaireName" type="text" [(ngModel)]="stakeholderName"/>
            </div>
            <div class="add-project-buttons">
              <button (click)="toggleAddNewStakeholder()" class="button cancel-button">{{'button.cancel' | translate}}</button>
              <button (click)="createNewStakeholder(stakeholderName)" formtarget="_blank" class="button add-button">{{'button.add' | translate}}</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
  <div *ngIf="!tabsLoading">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" #featureGroupTabs>
      <mat-tab *ngFor="let featureGroup of featureGroups; index as i"  label="{{featureGroup.name}}" class="tabs">
          <ng-container *ngIf="i === 0">
              <div id="first-tab-focus-anchor" tabindex="-1" aria-label="Main content section"></div>
          </ng-container>
          <app-validation [featureGroup]="featureGroup" [stakeholders]="stakeholders" [tabIndex]="i"></app-validation>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
