.notification {
    display: flex;
    flex-direction: column;
    width: 37.5rem;
    padding: 1rem;
    background-color: #bfe7ff;
    border-radius: 0.625rem;
    pointer-events: auto;
    border: 3px solid #6b8ca3;
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

.notification-message {
    display: block;
    padding-right: 2rem;
}


