table {
  table-layout: fixed;
  width: fit-content;
  border: 0.125rem;
  background-color: var(--beige);
  border-color: var(--text-color);
  border-collapse: separate;
  border-spacing: 0;
  border: solid;
  border-color: var(--text-color);
  border-width: 0.125rem;
  border-radius: 0.25rem;
}

thead {
  border-color: var(--text-color);
  background-color: var(--table-head);
  border-collapse: separate;
  border-spacing: 0;

  position: sticky;
  top: 0;
  z-index: 2;
}

th {
  border: solid;
  border-width: 0.125rem;
  gap: 0.5rem;
  padding: 0.5rem;
  border-color: var(--container);
  background-color: var(--table-head);
  font-weight: 600;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: center;
}

td {
  vertical-align: top;
  text-align: left;
  border: 1px solid;
  border-color: var(--brown);
  padding: 0.5rem;
  word-break: keep-all;
  height: 250px;
}

cdk-virtual-scroll-viewport {
  height: calc(100vh - 200px);
}

tfoot td { border: none; }

tr>th:first-child {
  width: 3rem;
  position: sticky;
  left: 0;
  z-index: 1;
}

textarea {
  overflow-y: auto;
  display: flex;
  text-align: left;
  justify-content: start;
  width: 100%;
  max-width: 1000rem;
  background: none;
  word-break: keep-all;
  border: solid;
  resize: none;
  min-height: 7.5rem;
}

textarea::placeholder {
  color: var(--dark-green);
}

.textarea-border {
  display: flex;
  border: solid;
  border-width: 0.125rem;
  border-radius: 0.25rem;
  width: 100%;
  border-color: var(--container);
}

.table-wrapper {
  border: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

th.content-cell-tenth-child.ng-star-inserted > div, th.content-cell-second-child.ng-star-inserted > div {
  justify-content: center;
  text-align: center;
}

.background-beige {
  background-color: var(--beige);
}

.background-dark-beige {
  background-color: var(--brown);
}

.gray-out-cell {
  background-color: #e1e1e1;
  color: var(--text-color) !important;
}

.gray-out-cell textarea {
  color: var(--text-color) !important;
  background-color: transparent !important;
  border-color: var(--container);
}

.id-cell {
  position: sticky;
  left: 0;
  z-index: 1;
  width: 3.5rem;
}

.content-cell-first-child {
  position: sticky;
  left: 3rem;
  z-index: 1;
  width: 15.5rem;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.42);
}

.content-cell-second-child {
  left: 15.5rem;
  width: 3.5rem;
}

.content-cell-third-child {
  left: 20rem;
  width: 13rem;

}

.content-cell-fourth-child {
  left: 28.75rem;
  width: 17rem;
}

.content-cell-fifth-child {
  width: 16rem;
}

.content-cell-four-options {
  width: 11rem;
}

.selection {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.content-cell-tenth-child {
  width: 4rem;
}

.content-header-eleventh-child {
  width: 16rem;
  border-right: none;
  white-space: pre;
}

.content-cell-eleventh-child {
  width: 15rem;
  border-right: none;
}

.content-cell-twelveth-child {
  width: 11rem;
  border-right: none;
  border-left: none;
}

.content-cell-thirteenth-child  {
  width: 16rem;
  border-left: none;
}

.content-cell-fourteenth-child, .content-cell-fifteenth-child  {
  width: 28.3rem;
}

.content-cell-sixteenth-child  {
  width: 3rem;
}

.add-row {
  vertical-align: middle;
  position: sticky;
  left: 0.5rem;
  z-index: 1;
}

.textarea-container {
  position: relative;
}

.textarea-container textarea {
  width: 100%;
  height: 100%;
}

.textarea-container button {
  top: 0;
  right: 0;
}
.cdk-overlay-pane, .cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  all: unset;
}

.content-cell-third-child .answer-stakeholder, .content-cell-twelveth-child .answer-stakeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 10rem;
  height: fit-content;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-style: solid;
  border-width: 0.125rem;
  border-radius:0.5rem;
  word-break: normal;
  overflow-wrap: anywhere;
}

.cell-with-menu {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: right;
  width: 100%;
  gap: 0.5rem;
  height: 250px;
}

.cell-with-menu-stakeholder {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  height: 250px;
}

.feature-cell {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: right;
  gap: 0.5rem;
  height: 250px;
}

.custom-id {
  border-radius: 0.25rem;
  background-color: var(--table-head);
  min-height: 2.5rem;
}

.feature {
  height: 180px;
}

.max-h-150 {
  max-height: 150px;
}

.max-h-250 {
  max-height: 180px;
}

.max-h-200 {
  max-height: 200px;
}

.no-bottom-border {
  border-bottom: none;
}

.textfield {
  width: 100%;
}

.add-row-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16rem;
  height: fit-content;
  border: solid;
  border-radius: 0.5rem;
  border-width: 0.125rem;
  padding: 1rem;
  gap: 0.5rem;
  background-color: var(--light-green);
  color: var(--dark-green);
}

.add-row-button:hover {
  background-color: var(--green);
}

.delete-row {
  width: 60px !important;
}

.delete-row-button {
  all: unset;
}

.overflow-unset {
  overflow: unset;
}

.textarea-color-selection-container.with-close {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
}

.textarea-color-selection-container .color-options {
  display: flex;
  gap: 5px;
}

.textarea-color-option {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border-style: solid;
  border-width: 0.09rem;
  border-radius: 0.3rem;
  transition: border 0.2s;
}

.textarea-color-option:hover {
  border: 0.125rem solid #000;
}

.textarea-colored {
  width: 100%;
  resize: none;
  border: none;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.toggle-button {
  background-color: var(--light-brown);
  border: 0.125rem solid var(--dark-brown);
  border-radius: 0.25rem;
  padding: 4px 8px;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: #e0e0e0;
}

.close-color-btn {
  margin: 0;
  white-space: nowrap;
  align-self: flex-start;
}

.toggle-column-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 0.125rem solid;
  border-radius: 0.25rem;
  border-color: var(--dark-green);
  background: #dcffd3;
  color: var(--dark-green);
  cursor: pointer;
  font-weight: 500;
}

.toggle-column-btn:hover {
  background: var(--brown);
  background: #c0e5b9;
}

.toggle-right {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.prioritization-checkbox {
  display: flex;
  margin-top: 22px;
  justify-content: center;
  height: 100%;
}

.prioritize-checkbox {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  accent-color: var(--dark-green);
  border-radius: 0.25rem;
  border: 2px solid var(--dark-brown);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.left-border-highlight {
  border-left: 0.25rem solid #C0B2A3FF;
}

.right-border-highlight {
  border-right: 0.25rem solid #C0B2A3FF;
}

.beige-bg {
  background-color: var(--beige) !important;
}

.conclusion-notification {
  background-color: var(--light-yellow);
  border: 2px solid #856404;
  padding: 4px 8px;
  font-size: 13px;
  margin-bottom: 6px;
  border-radius: 4px;
  color: #856404;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conclusion-notification button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #856404;
}

.conclusion-warning-box {
  background-color: #F5E2AAFF;
  border: 2px solid #856404;
  color: #856404;
  padding: 3px 10px;
  font-size: 17px;
  font-weight: bolder;
  border-radius: 4px;
  position: relative;
  margin-bottom: 8px;
}

.conclusion-warning-box .close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  justify-content: center;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #856404;
  font-weight: bolder;
}

.warning-icon {
  vertical-align: middle;
  margin-right: 6px;
  font-size: 20px;
  color: #856404;
}

.filler-cell-feature {
  border-top: none;
  border-bottom: none;
}

:focus-visible {
  outline: .25rem solid #fb8825;
}

.info-tooltip-content {
  background-color: var(--dark-green);
  color: var(--beige);
  padding: 1rem;
}

