<mat-spinner *ngIf="loading" role="status" aria-live="polite" [attr.aria-label]="'loading.spinner' | translate"></mat-spinner>
<div aria-live="polite" class="visually-hidden" #columnStatus></div>
<div class="notification-overlay" *ngIf="showNotification" role="alert" aria-live="assertive">
    <app-notification [title]="notificationTitle" [message]="notificationMessage" [show]="showNotification" (close)="closeNotification()" tabindex="-1"> </app-notification>
</div>
<div *ngIf="!loading" class="table-wrapper">

    <cdk-virtual-scroll-viewport itemSize="250" [minBufferPx]="1000" [maxBufferPx]="2000" #tableViewport>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <ng-container *ngFor="let validation of validations; index as i">
                        <ng-container *ngIf="!isColumnHidden(i)">
                            <th [ngClass]="getStickyClassByIndex(i, true)">
                                <div class="header">

                                    <ng-container *ngIf="(i === 13 && !isColumnHidden(13)) || (i === 12 && isColumnHidden(13))">
                                        <button (click)="toggleColumnVisibility(13)" class="toggle-column-btn"
                                                [ngClass]="{'toggle-right': (i === 12 && isColumnHidden(13))}">
                                            <mat-icon>
                                                {{ isColumnHidden(13) ? 'visibility' : 'visibility_off' }}
                                            </mat-icon>
                                            {{ isColumnHidden(13) ? ('hideColumn.show' | translate) : ('hideColumn.hide' | translate) }}
                                        </button>
                                    </ng-container>

                                    <span *ngIf="!isColumnHidden(i)">{{ getTranslation(validation) }}</span>

                                    <ng-container *ngIf="validation.tooltipEt && i !== 12 && i !== 13">
                                    <button mat-icon-button disableRipple
                                            matTooltip="{{ isCurrentLangEt ? validation.tooltipEt : validation.tooltipEn }}"
                                            matTooltipClass="tooltip-below" matTooltipPosition="below" aria-label="Show info"
                                            class="header-tooltip-button flat-icon-button" tabindex="0">
                                        <mat-icon>info</mat-icon>
                                    </button>
                                    </ng-container>

                                </div>
                        </ng-container>
                    </ng-container>
                    <th class="content-cell-sixteenth-child">
                </tr>
            </thead>

            <tbody>
                <tr *cdkVirtualFor="let validationRowValue of validationRowValues; index as j"
                    [ngClass]="{'prioritized': isPrioritized(validationRowValue)}" class="fixed-size-row">

                    <td class="id-cell background-beige">{{ j + 1 }}</td>

                    <ng-container *ngFor="let validation of validations; index as i">

                        <ng-container *ngIf="!isColumnHidden(i)">

                            <td *ngIf="!isAnswerNotDisplayed(validation, validationRowValue)"
                                class="background-beige"
                                [class]="getFillerCellClass(validation)"
                                [ngClass]="[i === 1 ? 'left-border-highlight' : '', i === 3 ? 'right-border-highlight' : '']">
                            </td>

                            <td *ngIf="isAnswerNotDisplayed(validation, validationRowValue)"
                                class="background-beige no-bottom-border"
                                [class]="getStickyClassByIndex(i)"
                                [ngClass]="[getStickyClassByIndex(i), isRowDisabled(validationRowValue) && shouldGrayOut(validation) ? 'gray-out-cell' : '',
                                            i === 1 ? 'left-border-highlight' : '', i === 3 ? 'right-border-highlight' : '']"
                                [ngStyle]="{'background-color': isRowDisabled(validationRowValue) && shouldGrayOut(validation)
                                        ? '#e0e0e0' : getValidationRowAnswer(validation, validationRowValue).backgroundColor || '#F7F1E6'}">

                                <div class="selection max-h-250" *ngIf="isValidationSelectable(validation)">
                                    <app-select
                                            [selectedValue]="getValidationValue(getValidationRowAnswer(validation, validationRowValue).answer)"
                                            (selectionChange)="onValidationRowValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
                                    />
                                </div>
                                <div *ngIf="isValidationStakeholder(validation)" class="cell-with-menu-stakeholder max-h-250">
                                    <div>
                                        <app-stakeholder
                                                *ngIf="getValidationRowAnswer(validation, validationRowValue).answer !== null && getValidationRowAnswer(validation, validationRowValue).answer !== ''"
                                                class="{{getStakeholderColorClass(getValidationRowAnswer(validation, validationRowValue).answer, i)}}"
                                                [stakeholder]="getValidationRowAnswer(validation, validationRowValue).answer"
                                                [color]="getStakeholderColorClass(getValidationRowAnswer(validation, validationRowValue).answer, i)"
                                                [deleteAction]="getStakeHolderAction(validation,validationRowValue)"
                                        >
                                        </app-stakeholder>
                                    </div>
                                    <app-menu [toggle]="'Menu'" [icon]="menuIcon"
                                              [returnAction]="getStakeHolderMenuAction(validationRowValue)"
                                              [stakeholders]="stakeholders" [isStakeholdersCell]="true"></app-menu>
                                </div>
                                <div *ngIf="isValidationFeature(validation)" class="feature-cell max-h-250">
                                    <div class="cell-with-menu">
                                        <div class="textarea-border">
                                          <textarea id="id"
                                                    [ngModel]="getValidationRowAnswer(validation, validationRowValue).feature.customId"
                                                    (ngModelChange)="onFeatureCustomIdChange($event, getValidationRowAnswer(validation, validationRowValue).feature)"
                                                    class="border-0 custom-id max-h-200"
                                                    placeholder="ID">
                                          </textarea>
                                        </div>
                                        <app-featuremenu
                                                [onDeleteFeature]="getFeatureActions(validationRowValue)[0].onClick">
                                        </app-featuremenu>

                                    </div>
                                    <div class="textarea-border w-100">
                                        <textarea [ngModel]="getValidationRowAnswer(validation, validationRowValue).answer"
                                                  (ngModelChange)="textAreaValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
                                                  class="border-0 feature max-h-150">
                                        </textarea>
                                    </div>
                                </div>
                                <div *ngIf="isValidationFeaturePrecondition(validation)" class="cell-with-menu max-h-250">
                                    <div class="textarea-border">
                                        <textarea [ngModel]="getValidationRowAnswer(validation, validationRowValue).answer"
                                                  (ngModelChange)="textAreaValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
                                                  class="border-0 textarea-min-height max-h-200">
                                        </textarea>
                                    </div>
                                    <app-preconditionmenu
                                            [onAddPrecondition]="getPreconditionActions(validationRowValue)[0].onClick"
                                            [onDeletePrecondition]="getPreconditionActions(validationRowValue)[1].onClick">
                                    </app-preconditionmenu>

                                </div>
                                <div *ngIf="isValidationExample(validation)" class="cell-with-menu max-h-250">
                                    <div class="textarea-border">
                                        <textarea [ngModel]="getValidationRowAnswer(validation, validationRowValue).answer"
                                                  (ngModelChange)="textAreaValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
                                                  class="border-0 textarea-min-height max-h-200">
                                        </textarea>
                                    </div>
                                    <app-examplemenu
                                            [onAddExample]="getExampleActions(validationRowValue)[0].onClick"
                                            [onDeleteExample]="getExampleActions(validationRowValue)[1].onClick"
                                            [onNoExample]="getExampleActions(validationRowValue)[2].onClick"
                                    ></app-examplemenu>

                                </div>
                                <div *ngIf="i === 9 && hasMultipleExamples(validationRowValue.answers[0].featurePrecondition.id)"
                                     class="prioritization-checkbox max-h-250">
                                    <input class="prioritize-checkbox"
                                           type="checkbox"
                                           [checked]="isPrioritized(validationRowValue)"
                                           (change)="onCheckboxChange(validationRowValue)"
                                           [attr.aria-label]="isPrioritized(validationRowValue) ? 'Unmark this example as prioritized' : 'Mark this example as prioritized'"/>
                                </div>

                                <div *ngIf="isValidationTextField(validation) && i !== 9"
                                     class="textfield max-h-250"
                                     [ngClass]="[getStickyClassByIndex(i), isRowDisabled(validationRowValue) && shouldGrayOut(validation) ? 'gray-out-cell' : '']">
                                    <div *ngIf="conclusionChangedMap[validationRowValue.rowId]" class="conclusion-warning-box">
                                        <mat-icon class="warning-icon" color="warn">warning</mat-icon>
                                        <span class="warning-text">{{ 'conclusion.changedNotice' | translate }}</span>
                                        <button (click)="dismissNotification(validationRowValue)" class="close-btn">✕</button>
                                    </div>
                                    <div class="textarea-border w-100">
                                        <textarea
                                                [ngModel]="getValidationRowAnswer(validation, validationRowValue).answer"
                                                (ngModelChange)="textAreaValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
                                                class="border-0 textarea-min-height max-h-150 beige-bg">
                                        </textarea>
                                    </div>
                                    <ng-container>
                                        <button *ngIf="!showColorSelectionMap[validationRowValue.rowId]"
                                                (click)="toggleColorSelection(validationRowValue.rowId)"
                                                class="toggle-button">
                                            {{ 'colorPicker.change' | translate }}
                                        </button>
                                        <div *ngIf="showColorSelectionMap[validationRowValue.rowId]"
                                             class="textarea-color-selection-container with-close">
                                            <div class="color-options">
                                                <button *ngFor="let color of colorOptions" class="textarea-color-option"
                                                     [style.background-color]="color.value"
                                                     (click)="onColorChange(color.value, getValidationRowAnswer(validation, validationRowValue))"
                                                     (keydown.enter)="onColorChange(color.value, getValidationRowAnswer(validation, validationRowValue))"
                                                     (keydown.space)="onColorChange(color.value, getValidationRowAnswer(validation, validationRowValue)); $event.preventDefault()"
                                                     [attr.aria-label]="color.name | translate"
                                                     matTooltip="{{ color.name | translate }}">
                                                </button>
                                            </div>
                                            <button (click)="toggleColorSelection(validationRowValue.rowId)"
                                                    class="toggle-button close-color-btn">
                                                {{ 'colorPicker.close' | translate }}
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                                <div *ngIf="isValidationDoField(validation)" [ngClass]="[getStickyClassByIndex(i), isRowDisabled(validationRowValue) && shouldGrayOut(validation) ? 'gray-out-cell' : '']">
                                    <div class="w-100">
                                        {{ getValidationRowAnswer(validation, validationRowValue).answer }}
                                    </div>
                                </div>

                                <div *ngIf="isValidationAutofill(validation)"
                                     [ngClass]="[getStickyClassByIndex(i), isRowDisabled(validationRowValue) && shouldGrayOut(validation) ? 'gray-out-cell' : '']">
                                  <span *ngIf="getValidationRowAnswer(validation, validationRowValue).answer.length>0"
                                        class="answer-stakeholder {{getStakeholderColorClass(getValidationRowAnswer(validation, validationRowValue).answer, i)}}">
                                    <!-- Accessing the fourteenth cell to turn stakeholder into bold-->
                                    <ng-container *ngIf="i === 13">
                                      <span [innerHTML]="getFormattedSentence(validation, validationRowValue)"></span>
                                    </ng-container>
                                      <!-- Default rendering for other cells containing validation -->
                                    <ng-container *ngIf="i !== 13">
                                      {{ getValidationRowAnswer(validation, validationRowValue).answer }}
                                    </ng-container>
                                  </span>
                                </div>
                            </td>
                        </ng-container>
                    </ng-container>
                    <td class="delete-row">
                        <button class="delete-row-button button-icon" (click)="deleteRow(validationRowValue.rowId)" [attr.aria-label]="'table.deleteRowARIA' | translate">
                            <span class="material-symbols-outlined icon" aria-hidden="true">delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td class="add-row">
                        <button [disabled]="isAddingNewRow" class="add-row-button" (click)="addValidationRow()">
                            <span class="material-symbols-outlined icon small-icon" aria-hidden="true">add</span>
                            {{ 'table.newRow' | translate }}
                        </button>
                    </td>
                </tr>
            </tfoot>

        </table>
    </cdk-virtual-scroll-viewport>
    <app-back-to-top *ngIf="viewport" [viewport]="viewport"></app-back-to-top>
</div>


