<div class="nav">
    <div class="nav-group-left">
        <a class="toolbar-router" [routerLink]="questionnairePath">
            <h1>{{ 'toolbar.name' | translate }}</h1></a>
        <h2 class="truncate"
            *ngIf="questionnaireName"
            [matTooltip]="questionnaireName.length > 40 ? questionnaireName : ''"
            matTooltipPosition="above"
            [matTooltipDisabled]="questionnaireName.length <= 40">
            {{ questionnaireName | truncate: 40 }}
        </h2>
    </div>
    <div class="nav-group-right">
        <div class="nav-group-right" (keydown.enter)="jumpToSkip()" (keydown.space)="jumpToSkip()">
        <a class="toolbar-router fcc" [routerLink]="questionnairePath" routerLinkActive="active-link">{{ 'toolbar.projects' | translate }}</a>
        <a class="toolbar-router fcc" [routerLink]="method" routerLinkActive="active-link">{{ 'toolbar.method' | translate }}</a>
        <a class="toolbar-router fcc" [routerLink]="about" routerLinkActive="active-link">{{ 'toolbar.about' | translate }}</a>
        <div>
            <button (click)="setLang(language)" *ngFor="let language of languages" [value]="language"
                    class="button-language" [class.language-active]="isLanguageSelected(language)">{{ language }}
            </button>
        </div>
    </div>
</div>
